/* Estilos generales */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Estilos del nav */
.navbar {
  background-color: #f1f1f1;
  padding: 10px;
  position: relative;
  z-index: 2;
  height: 70px; /* Ajusta la altura según tus necesidades */
}

.menu-toggle {
  display: none; /* Oculta el checkbox */
}

.menu-icon {
  display: none; /* Oculta el icono de hamburguesa en pantallas grandes */
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  transition: transform 0.3s ease-in-out; /* Agrega una transición al menú */
}

.nav-link {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  position: relative;
  transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
  font-size: 16px;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  border-radius: 50%;
  background-color: #6d22a6;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  z-index: -1;
  top: -10%;
  left: -10%;
  box-shadow: 0 0 20px rgba(109, 34, 166, 0.5);
}

.nav-link:hover::before {
  opacity: 1;
}

.nav-link:hover {
  color: #fff;
  font-size: 18px;
}

.menu-toggle:checked + .nav-links {
  transform: translateY(0);
}

/* Estilos del footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }

  .nav-link {
    margin: 10px 0; /* Añade espacio entre los ítems */
  }

  .menu-toggle {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .nav-links {
    display: none;
    background-color: #f1f1f1;
    width: 100%;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
    margin-top: 20px;
  }

  .nav-links.open {
    display: flex;
    transform: translateY(0);
  }

  .nav-link {
    margin-bottom: 10px;
  }
}
